.bg-remote-blue {
    background-color: #1f0f5a !important;
}
.text-primary {
    color: #dc162f !important;
}
a {
    color: #dc162f;
    text-decoration: none;
    background-color: transparent;
}
body {
    background-color: #ffffff;
}
.btn-primary {
    color: #fff;
    background-color: #1f0f5a;
    border-color: #1f0f5a;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(220 22 47);
   color: #ffffff;
}
.btn-link {
    font-weight: 400;
    color: #1f0f5a;
    text-decoration: none;
}
.btn-link:hover {
    color: #1f0f5a;
    text-decoration: underline;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2c1e63;
    border-color: #1f0f5a;
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
    color: #1f0f5a;
}
